<h1 id='big'> Log In </h1>

<div class='register'>
  <section class='account'>
    <form class='registerpanel' action="/login" method="POST">
      <img class='userlogo' src="images/output-onlinepngtools (2).png">
      <label class='userlabel' for="username">Username</label>
      <input id="username" type="text" name="username">
      <label class='userlabel' for="password">Password</label>
      <input id="password" type="password" name="password">
     
      {{#if message}}
        <div class="error-message">{{ message }}</div>
      {{/if}}
      <br>
      <button class='userbtn'>Log In</button>
        <p class="account-message">
        Don't have an account?
        <a class='user-a' href="/signup">Sign Up</a>
      </p>
    </form>
  </section>
</div>