<h1 id='big'>{{title}}</h1>
<p id="description">Habits are described as “small changes that people introduce into their routines that unintentionally carry over into other aspects of their lives.” This site will help you do just that, while simultaneously helping reduce feelings of stress or anxiety. This is your little happiness helper, use it daily, or simply when you feel overwhelmed. It doesn't matter, all that does is that you remind yourself to {{title}}.</p>

<div class='register'>
  <section class='account'>
    <form class='registerpanel' action="/login" method="POST">
      <img class='userlogo' src="images/output-onlinepngtools (2).png">
      <label class='userlabel' for="username">Username</label>
      <input id="username" type="text"  name="username">
      <label class='userlabel' for="password">Password</label>
      <input id="password" type="password" name="password">
     
      {{#if message}}
        <div class="error-message">{{ message }}</div>
      {{/if}}
      <br>
      <button class='userbtn'>Log In</button>
        {{!-- <input type="submit" value="Log In"> --}}
        <p class="account-message">
        Don't have an account?
        <a class='user-a' href="/signup">Sign Up</a>
      </p>
    </form>
  </section>
</div>