<h1>{{title}}</h1>
<p>It's time to {{title}}, log-in to access your online journal.</p>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
    <p class="account-message">
    Don't have an account?
    <a href="/signup">Sign Up</a>
  </p>
</form>