@media only screen and (min-width: 600px) {
  button {
    font-family: 'Nixie One', cursive; }
  h1#big {
    font-size: -webkit-xxx-large; }
  p#description {
    padding: 0 10vw;
    justify-content: center;
    align-content: center;
    margin-bottom: -60px;
    text-align: center;
    font-size: larger; } }

body {
  background-color: #e9e7e7;
  padding: 50px;
  font-family: 'Nixie One', cursive;
  margin: 0 auto;
  padding: 2vw 2vh; }

h1 {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: #7EB6FF; }

nav {
  display: flex;
  flex-direction: center;
  justify-content: right;
  align-items: end;
  margin: none; }

a {
  color: #7EB6FF;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  padding-right: 2vw;
  align-items: center;
  align-content: center; }

#dashboard-landing {
  margin-top: 50px;
  position: relative;
  max-width: 100%;
  width: auto; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.dashpanel {
  position: absolute;
  background: papayawhip;
  box-shadow: 0px 1px 2px;
  padding: 10px;
  margin: 10px; }

.dashpanel:hover {
  box-shadow: 1px 1px 10px;
  margin-top: -5px;
  transition: all 0.3s ease-in-out forwards; }

a {
  font-weight: 700;
  font-size: larger; }

button {
  background: none;
  border: none;
  float: right;
  font-size: larger; }

#blog-landing {
  margin-top: 50px;
  position: relative;
  max-width: 100%;
  width: auto; }

.whitepanel {
  position: absolute;
  background: papayawhip;
  box-shadow: 0px 1px 2px; }

.whitepanel:hover {
  box-shadow: 1px 1px 10px;
  margin-top: -5px;
  transition: all 0.3s ease-in-out forwards; }

h3 {
  color: #7EB6FF; }

#stuff-landing {
  margin-top: 50px;
  position: relative;
  max-width: 100%;
  width: auto; }

.stuffpanel {
  position: absolute;
  background: papayawhip;
  box-shadow: 0px 1px 2px; }

#text-landing {
  margin-top: 45px;
  position: relative;
  max-width: 100%;
  width: auto;
  left: 15vw;
  right: 10vw;
  margin-bottom: -25px; }

.textpanel {
  position: absolute;
  background: papayawhip;
  box-shadow: 0px 1px 2px; }

.maintext {
  width: 65vw;
  max-width: 100%;
  height: 50vh; }

.quicktxt {
  width: 32.5vw;
  max-width: 100%;
  height: auto; }

.formpanel {
  display: flex;
  flex-direction: column;
  align-items: center; }

button.journalbtn:hover {
  color: #7EB6FF; }

.account {
  margin-top: 81px;
  position: relative;
  max-width: 80vw;
  width: auto;
  left: 10vw; }

.registerpanel {
  position: relative;
  background: papayawhip;
  box-shadow: 0px 1px 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.registerpanel:hover {
  box-shadow: 1px 1px 10px;
  margin-top: -5px;
  transition: all 0.3s ease-in-out forwards; }

a.user-a {
  color: #7EB6FF;
  font-size: smaller; }

#username {
  width: 40vw;
  height: 5vh; }

#password {
  width: 40vw;
  height: 5vh; }

label.userlabel {
  font-size: large; }

button.userbtn {
  font-size: x-large;
  color: #7EB6FF; }

img.userlogo {
  width: 20vw;
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=style.css.map */