<h1> today's entry</h1>
<form action="/today/new" method="post">
  <label for="">Date:</label>
  <input type="Date" name="date">
  <br>
  <label for="">Question1</label>
  <input type="text" name="Question">
  <br>
  <label for="">Today's Mood:</label>
  <input type="number" name="mood">
  <br>
  <button type="submit">Add Entry</button>
</form>