<h1> {{currentUser.username}}</h1>

<div class="faves"> 
{{#each userFaves}}
   <img src="{{this.pic}}" width="350px">
   <form action="/dashboard/delete/{{this._id}}" method="POST"> <button type="submit">☹</button> </form>
    <br>
{{/each}}
<div class="journalEntries">
   <h5>Last day you journaled:</h5>
   {{#if theDate}}
   <a href="/allPosts">{{theDate}}</a>
   {{/if}}
</div>
</div>