<h1> me</h1>

<div class="faves"> 
{{#each userFaves}}
   <img src="{{this.pic}}">
   <form action="/dashboard/delete/{{this._id}}" method="POST"> <button type="submit">Delete</button> </form>
    <br>
{{/each}}
<div class="journalEntries">
   <a href="/allPosts">{{theDate}}</a>
</div>
</div>