
<div class='dash'>
{{#each stuff}}
{{!-- <div class="masonry-layout">
  <div class="masonry-layout__panel">
    <div class="masonry-layout__panel-content"> --}}
<div class="dash-item">
<img src={{pic}} width='350px' style='border:3px solid white;'>
<form action="/chillout/{{id}}" method="POST"><button>♥</button></form>
</div>
{{/each}}
</div>
