
{{#each stuff}}
<img src={{pic}}>
<br>
<form action="/chillout/{{id}}" method="POST"><button>Add to Favorites</button></form>
{{!-- <a href="/chillout/{{id}}" class="fave-button">Add to Favorites</a> --}}
{{/each}}