<h1 id="big">Tips & Token Happiness</h1>

<div class="allthestuff">
  <section id="stuff-landing">
        {{#each stuff}}
    <article class="stuffpanel">
          <img src='{{pic}}'>
          <form action="/chillout/{{this._id}}"  method="POST"> <button class='journalbtn' type="submit">♥</button></form>
    </article>
        {{/each}}
  </section>
</div>

